h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

@media screen and (min-width:560px) {
  h1 {
    font-size: 4em;}
  }

@media screen and (min-width:768px) {
  h1 {
    font-size: 5em;}
  }

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: plum;
}

footer {
  background-color: #393E44;
    color: white;
}

main {
  background-color: plum;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#social-links img {
  display: inline;
    margin: 1em;
}

header {
  margin-bottom: 0;
  background-color: #393E44;
}

.card-body {
    background-color: plum;
  }

.card {
      border: none;
}

#footer-things {
  padding-top: 2%;
}

footer a {
  color: white;
}

footer a:hover {
  color: plum;
}

footer button {
  background-color: white;
}

.card .btn {
  background-color: purple;
  color: white;
  border-color: white;
}

#mission p {
  padding: 3% 5% 0 5%;
  font-size: 1.5em;
}

#homepackages h2 {
padding-bottom: 3%;
font-size: 3em;
color: purple;
}

#packages h2 {
padding: 3% 0;
font-size: 3em;
color: purple;
}

#package-description  {
font-size: 2em;
}

#homepackages h3 {
color: purple;
font-weight: bold;
}

#start-price {
  color: purple;
font-weight: bold;
font-size: 2em;
}

#homepackages p {
font-size: 1.25em;
padding: 2% 0:
}

#calculator .active {
  background-color: purple;
  color: white;
  border-color: white;
}
