h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}

@media screen and (min-width:560px) {
  h1 {
    font-size: 4em;}
  }

@media screen and (min-width:768px) {
  h1 {
    font-size: 5em;}
  }

.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: plum;
}

footer {
  background-color: #393E44;
    color: white;
}

main {
  background-color: plum;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#social-links img {
  display: inline;
    margin: 1em;
}

header {
  margin-bottom: 0;
  background-color: #393E44;
}

.card-body {
    background-color: plum;
  }

.card {
      border: none;
}

#footer-things {
  padding-top: 2%;
}




/* @media screen and (min-width: 768px) {
  .footer-text{text-align: left;}
}*/
