h1 {
  font-size: 100px;
}

footer {
  background-color: grey;
}

main {
  background-color: plum;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

#social-links img {
  display: inline;
}

.jumbotron {
  margin-bottom: 0;
}
